.view-instruments {
  h4 {
    line-height: 1.5em;
  }

  .views-row {
    display: grid;
    grid-template-columns: 375px auto;
    grid-column-gap: 1em;
    align-items: center;
    margin-bottom: 1em;
    border-bottom: solid $wwu-lime 2px;
  }
  .views-row-last {
    margin-bottom: 3em;
    border-bottom: none;
  }

  .field-instrument-photo {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: 18px;
  }

  .views-field-title, .field-instrument-specs, .field-instrument-description {
    grid-column-start: 2;
  }

  .views-field-title h4 {
    margin-top: 0;
  }

  .field-instrument-specs {
    font-size: 80%;
    font-weight: bold;
  }
}
